<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolved Complaints Page</title>
    <!-- <link rel="stylesheet" href="/css/actors.css"> -->
    <link rel="stylesheet" href="/css/staffDashBord.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
   <!-- staff   nav bar -->
<%- include('_staffIncludeFolder/staffNavBar') %>
<!-- staff   nav bar -->
   
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 sidebar">
                <!-- including admin sidebar -->
                <%- include('_staffIncludeFolder/staffSideBar') %>

                <!-- including admin sidebar -->
            </div>

            <div class="col-12 col-md-9 col-lg-10 main-content">
                <div class="wrapp-box bx">
                    <div class="container box-cont">
                        <div class="resolve-complaint">
                            <div class="text-heading">Resolved Complaints</div>
                            <input type="text" id="customSearchBox" class="form-control custom-search-input" placeholder="Search...">
                        </div>
                        <%- include('_staffIncludeFolder/staffAcordium') %>

                        <div class="table-responsive tb">
                            <table id="tb" class="table table-bordered table1">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Staff Name</th>
                                        <th>Student Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Department</th>
                                        <th>Matric Number</th>
                                        <th>Course Code</th>
                                        <th>Course Title</th>
                                        <th>Section</th>
                                        <th>Semester</th>
                                        <th>Level</th>
                                        <th>Submit Date</th>
                                        <th>Comment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% complaint.forEach((comp, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= comp.staff_name %></td>
                                            <td><%= comp.stu_name %></td>
                                            <td><%= comp.email %></td>
                                            <td><%= comp.phone_no %></td>
                                            <td><%= comp.department %></td>
                                            <td><%= comp.matric %></td>
                                            <td><%= comp.course_code %></td>
                                            <td><%= comp.course_title %></td>
                                            <td><%= comp.section %></td>
                                            <td><%= comp.semester %></td>
                                            <td><%= comp.level %></td>
                                            <td><%= new Date(comp.submitDate).toLocaleDateString() %></td>
                                            <td><%= comp.comment %></td>
                                            <td><a href="/admin/view/resolve/complaint?id=<%= comp._id %>">View</a></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var table = new DataTable('#complaintTable', {
                paging: true,
                pageLength: 5, // Number of rows to display per page
                lengthChange: false, // Disable the option to change the number of rows displayed
                info: false, // Disable the info text "Showing X to Y of Z entries"
                autoWidth: false, // Disable auto width
                searching: true // Enable search functionality
            });

            // Custom search box logic
            var customSearchBox = document.getElementById('customSearchBox');
            customSearchBox.addEventListener('keyup', function() {
                table.search(this.value).draw();
            });
        });
    </script>
              <script src="/js/staffDashBord.js"></script>

</body>
</html>
