<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="/css/staffDashBord.css">
<!-- staff   nav bar -->
<%- include('_staffIncludeFolder/staffNavBar') %>
<!-- staff   nav bar -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 sidebar">
                <!-- including admin sidebar -->
                       <%- include('_staffIncludeFolder/staffSideBar') %>
                <!-- including admin sidebar -->
            </div>
            
            <div class="col-12 col-md-9 col-lg-10 main-content">
                <div class="wrapp-box bx">
                    <!-- <div class="container box-cont">
                        <div class="box1 bg-secondary">
                            <h2>Are You New Here?</h2>
                            <p>If you are a new student/user, kindly go through the following steps:</p>
                            <ul>
                                <li>You can update your profile</li>
                                <li>Check results</li>
                                <li>Lay complaint about your result without stress</li>
                            </ul>
                        </div>
                        <div class="box2 bg-success">
                            <h2>If You Need Any Help or Are Confused About Anything</h2>
                            <p>Kindly contact us through this email: ucheuc070@gmail.com </p>
                        </div>
                    </div>  -->
                </div>
                <%- include('_staffIncludeFolder/staffAcordium') %>

                
                <div class="table-responsive"  style="margin-top: 10%;">
                    <table id="complaintTable" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Student Name</th>
                                <th>Matric Number</th>
                                <th>Department</th>
                                <th>Course Title</th>
                                <th>Course Code</th>
                                <th>Complaint Date</th>
                                <th>Level</th>
                                <th>Section</th>
                                <th>Semester</th>
                                <th>RESOLVE COMPLAINT</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <% if(complaints){%>
                                <% complaints.forEach((complaint,index) => { %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td><%= complaint.student.fname %> <%= complaint.student.lname %></td>
                                        <td><%= complaint.student.matric %></td>
                                        <td><%= complaint.student.department %></td>
                                        <td><%= complaint.course_title %></td>
                                        <td><%= complaint.course_code %></td>
                                        <td><%= new Date(complaint.complaint_date).toLocaleDateString() %></td>
                                        <td><%= complaint.level %></td>
                                        <td><%= complaint.section %></td>
                                        <td><%= complaint.semester %></td>
                                        <td><a href="/staff/view/complaint?id=<%= complaint._id %>">View</a></td>
                                       
                                     
                                    </tr>
                                <% }) %>

                          <%   }else{ %>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>

                       <% } %>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Your script imports and custom scripts go here -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            $('#complaintTable').DataTable({
                paging: true, // Enable pagination
                pageLength: 10, // Number of rows to display per page
                lengthChange: false, // Disable the option to change the number of rows displayed
                searching: true, // Enable search functionality
                info: false // Disable info text "Showing X to Y of Z entries"
            });

            // Apply custom search
            $('#customSearchBox').on('keyup', function() {
                $('#complaintTable').DataTable().search($(this).val()).draw();
            });
        });
    </script>
      <script src="/js/staffDashBord.js"></script>
</body>
</html>
